.booking-container {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 2rem;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #c3c3c3 white;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
    padding: 5px 1rem;
  }

  .hotel-config {
    display: flex;
    gap: 1rem;
  }

  select.form-select {
    width: 180px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #366b6d;
    border-radius: 5px;
    background-color: #fff;
    color: #366b6d;
  }

  select.form-select:focus {
    border-color: #007bff;
    outline: none;
  }

  .sync-dashboard {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #366b6d;
    color: #366b6d;
  }
  .sync-dashboard:hover {
    background-color: #366b6d;
    color: white;
  }

  // .cards-container {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: space-between;
  //     gap: 20px;
  //     padding: 0px 20px;
  // }

  .card {
    flex: 1;
    max-width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .card-icon {
    color: #28a745;
    margin-bottom: 10px;
  }

  .card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
  }

  .chart-container {
    margin-top: 40px;
  }

  .chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 30px;
    margin: 20px;
  }

  .chart-wrapper {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #d4d4d4;
  }

  .chart-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chart-wrapper h3 {
    font-size: 18px;
    color: #333;
  }

  .chart-type-options {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
  }

  .chart-type-options:focus {
    border-color: #007bff;
    outline: none;
  }

  /* Responsive Design */
  @media (max-width: 1200px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }

    .card {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .chart-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {
    header {
      align-items: flex-start;
    }

    .card-header{
      top: unset !important;
      bottom: 2px;
    }

    .hotel-config{
      width: 100%;
      justify-content: space-between;
    }

    select.form-select {
      width: 125px;
    }

    button.btn {
      width: 100%;
      margin-top: 10px;
    }
  }

  /* Additional Styling for Loading State */
  .text-center {
    font-size: 16px;
    color: #888;
  }

  .mt-4 {
    margin-top: 20px;
  }

  // .mt-4.d-flex.justify-content-between {
  //     display: flex;
  //     justify-content: space-between;
  //     margin-top: 20px;
  // }

  /* General Styles */
  .dashboard-title {
    font-size: 20px;
    font-weight: bold;
    color: #366b6d;
  }

  .cards-container {
    display: flex;
    gap: 1.5rem;
    padding: 0 20px;
  }

  /* Card Container */
  .card-container {
    flex: 1;
    background: #f9f9f9;
    border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid #366b6d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card-container .card-header {
    text-align: right;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 7px;
    right: 10px;
    background: #366b6d;
    padding: 0px 10px;
    border-radius: 20px;
  }

  .stats-header {
    text-align: left;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }

  .card-content {
    display: flex;
    width: 100%;
    // gap: 1rem;
  }

  .booking-card {
    flex: 1;
  }

  /* Individual Cards */
  .card {
    flex: 1;
    background: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-icon {
    color: #366b6d;
    margin-bottom: 0.5rem;
  }

  .card h4 {
    font-size: 1.2rem;
    color: #333;
    margin: 0.5rem 0;
  }

  .card p {
    font-size: 1rem;
    font-weight: bold;
    color: #777;
  }

  /* Separator */
  .separator {
    width: 1px;
    background: #e5e5e5;
    margin: 0 0.5rem;
  }

  /* Header Section */
  .stats-header .heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

  .stats-header .subheading {
    font-size: 0.85rem;
    color: #888;
    margin-top: 0.2rem;
  }

  /* Stats Section */
  .stats-section {
    margin-top: 10px;
  }

  .stats-column {
    text-align: center;
    flex: 1;
  }

  .stats-column .label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #666;
  }

  .stats-column .value {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    // justify-content: center;
  }

  .stats-column .value.positive {
    color: #4caf50; /* Green for positive */
  }

  .stats-column .value.negative {
    color: #f44336; /* Red for negative */
  }

  .stats-column .percentage {
    font-size: 0.85rem;
    margin-left: 0.4rem;
  }

  /* Separator */
  .separator-horizontal {
    height: 1px;
    background: #ddd;
    margin: 5px 0;
  }

  /* Comparison Section */
  .comparison {
    // text-align: left;
    font-size: 0.85rem;
    color: #555;
    display: flex;
    justify-content: space-between;
  }

  .comparison .comparison-text {
    margin-bottom: 0.5rem;
  }

  .comparison .comparison-week {
    font-weight: 600;
    color: #333;
  }

  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .dashboard-title{
      display: none;
    }

    .stats-section {
      // flex-direction: column;
      gap: 1rem;
    }

    .stats-column {
      text-align: left;
    }
  }

  .rooms-container {
    width: 98%;
    overflow-x: auto;
    padding: 10px 0px;
    position: relative;
    margin: 10px 20px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #2f6b6d white;
  }

  // .rooms-container::-webkit-scrollbar {
  //   // width:thin; /* Hides the scrollbar */
  //   scrollbar-width: 1px;
  //   border-radius: 10px;
  //   background-color: red;
  //   color: black;
  // }

  .room-cards {
    display: flex;
    gap: 15px; /* Space between cards */
  }

  .room-card {
    min-width: 250px;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    // transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .room-card:hover {
    transform: scale(1.05);
    // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .room-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .room-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .room-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .room-description {
    font-size: 14px;
    color: #666;
    height: 40px; /* Fixed height for consistent layout */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .room-price {
    font-size: 14px;
    font-weight: bold;
    color: #366b6d;
  }
}
